html body {
  font-family: 'Lato', sans-serif;
  background-color: #083D77;

}


html body {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    min-width: 320px;
}


h3#lema {
    color: #FDFFFC;
    font-size: -webkit-xxx-large;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 30px;
    font-family: cursive;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: #FA8072;
    padding: 30px;
    border-bottom: 0;
    margin: 0 0;
}

footer > nav > div > ul li {
    display: inline-flex;
    margin: 0;
    list-style: none;
    color: white;
    background-color: #F6AE2D;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 75px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    display: inline-flex;
}



footer {
  text-align: center;
}

footer > nav > div > ul li a
{
            color: white;
            }


footer > nav > div {
  background-color: #F6AE2D;
}

div > img {
  display: block;
  padding-bottom: 0px;
  border:1px solid #021a40;
  margin-bottom: 40px;

}

div > a {
  padding-bottom: 60px;
  color: red;

}

.thumbnail {
  border: 0; }



h5 {
    font-size: 17px;
  }

  /* resize images */
#imglogo {
      width: 150px;
      height: auto;
      border-radius: 5px;
  }

.pictures
{
  width: 20px;
}


.carousel {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -50px;

    display: flex;
    justify-content: flex-start;
}

.navbar {
margin: 0;
}

.navbar-default {
    background-image: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    top: 20px;
    border: 0;
    box-shadow: none;
}


.navbar-default .navbar-nav > li > a {
    color: white;
    font-style: initial;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

.thumbnail > img, .thumbnail a > img {
    margin-right: 0;
    margin-left: 0;
    width: 80px;
    display: flex;
    margin-top: -60px;
}



  a.thumbnail {
    box-shadow: none;
    border-bottom: transparent;
    display: inline;
    border: 0;
    border-style: none;
    box-shadow: none;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    color: #08090A;
    padding-left: 60px;
  }

p {
    margin: 0 0 10px;
    text-align: center;
    margin-bottom: 66px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 35px;
    text-decoration: none;
    font-size: 20px;
}



h3#flote {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #F6AE2D;
    font-weight: 600;
    font-size: 25px;

}


h3#social{
    margin-bottom: 60px;
    margin-left: 213px;
    margin-top: 90px;

}

h3#footer{
    margin-bottom: 60px;
    margin-left: 213px;
    margin-top: 90px;
}

img {
    display: block;
    max-width: 100%;
    padding-bottom: 40px;
  }




#image-header {
 /*span whole viewport height*/
 width: 100%;
 height: calc(100vh);
 /*Adjest background image*/
 background-image: url(http://blog.cubeacon.com/wp-content/uploads/2015/12/school_bus_iot.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;

 /* center text */
 display: flex;
 justify-content: center;
 align-items: center;
}

footer {
  clear: both;
}

.theme1 {
    width: 100%;
    height: calc(70vh);
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


h3#lema {
    padding-top: 50px;
}

#image-about {
 /*span whole viewport height*/
 width: 100%;
 height: calc(50vh);
 /*Adjest background image*/
 background-image: url(http://www.solidbackgrounds.com/images/1920x1080/1920x1080-white-solid-color-background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;

 /* center text */
 display: flex;
 justify-content: center;
 align-items: center;
}

#equipo-projectsection {
 /*span whole viewport height*/
 width: 100%;
 height: calc(80vh);
 /*Adjest background image*/
 background-image: url(http://www.solidbackgrounds.com/images/1920x1080/1920x1080-white-solid-color-background.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;

 /* center text */
 display: flex;
 justify-content: center;
 align-items: center;
 border-color: red;
 border-radius: 0px;
 margin-top: -20px;

}
#our-flote {
 /*span whole viewport height*/
 width: 100%;
 height: calc(50vh);
 /*Adjest background image*/
 background-image: url(http://localhost:3000/../assets/images/flota1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;

 /* center text */
 display: flex;
 justify-content: center;
 align-items: center;
 border-color: red;
 border-radius: 10px;
 margin-top: -20px;
}


#theme {
    background-color: #e50c75;
}
.home .benefits-wrapper {
    padding: 75px 0;
}
#content .headline, #content .content-header h1, #content .content-header h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    line-height: 55px;
    color: #fff;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    padding-top: 40px;
}


h2.headline.mrg-top-25-lg {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 100px;
    color: blue;
    text-align: center;
    padding-top: 80px;
}

div#team {
    padding-left: 110px;
}

img#social {
    max-width: 100%;
    margin-left: 350px;
}

img#team {
    max-width: 100%;
}

h5#descripcion {
    color: white;
    padding-bottom: 40px;
    padding-left: 150px;
}
